.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.cell {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.cell2 {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: inline-grid;
    width: 150px;
    margin: 3px;
}

.header {
  font-weight: bold;
  background: #f4f4f4;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.weekdays {
    display: flex;
    justify-content: space-evenly;
}